<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>Evote.Controller.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Evote.Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Evote.Controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoterServlet</servlet-name>
        <servlet-class>Evote.Controller.VoterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCandidateServlet</servlet-name>
        <servlet-class>Evote.Controller.AddCandidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Example</servlet-name>
        <servlet-class>Evote.Controller.Example</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCandidateServlet</servlet-name>
        <servlet-class>Evote.Controller.AddNewCandidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote</servlet-name>
        <servlet-class>Vote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVoteServlet</servlet-name>
        <servlet-class>Evote.Controller.AddVoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>Evote.Controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCandidateServlet</servlet-name>
        <servlet-class>Evote.Controller.UpdateCandidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCandidate</servlet-name>
        <servlet-class>Evote.Controller.DeleteCandidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElectionResultServlet</servlet-name>
        <servlet-class>Evote.Controller.ElectionResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserSeervlet</servlet-name>
        <servlet-class>Evote.Controller.ShowUserSeervlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUser</servlet-name>
        <servlet-class>Evote.Controller.ShowUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUSer</servlet-name>
        <servlet-class>Evote.Controller.DeleteUSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>Evote.Controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Evote.Controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCandidateServlet</servlet-name>
        <servlet-class>Evote.Controller.ShowCandidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElectionResult</servlet-name>
        <servlet-class>Evote.Controller.ElectionResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElectionResultByGender</servlet-name>
        <servlet-class>Evote.Controller.ElectionResultByGender</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoterServlet</servlet-name>
        <url-pattern>/VoterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCandidateServlet</servlet-name>
        <url-pattern>/AddCandidateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Example</servlet-name>
        <url-pattern>/Example</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCandidateServlet</servlet-name>
        <url-pattern>/AddNewCandidateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote</servlet-name>
        <url-pattern>/Vote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVoteServlet</servlet-name>
        <url-pattern>/AddVoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCandidateServlet</servlet-name>
        <url-pattern>/UpdateCandidateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCandidate</servlet-name>
        <url-pattern>/DeleteCandidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElectionResultServlet</servlet-name>
        <url-pattern>/ElectionResultServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserSeervlet</servlet-name>
        <url-pattern>/ShowUserSeervlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUser</servlet-name>
        <url-pattern>/ShowUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUSer</servlet-name>
        <url-pattern>/DeleteUSer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCandidateServlet</servlet-name>
        <url-pattern>/ShowCandidateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElectionResult</servlet-name>
        <url-pattern>/ElectionResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElectionResultByGender</servlet-name>
        <url-pattern>/ElectionResultByGender</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
